@import "/src/styles/components/weather-global-styles.scss";

.headerContainer {
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flexContainer {
  padding: 10px $globalSidePadding;
  display: flex;
  justify-content: space-between;
}

.headerTextContainer {
  text-align: center;
}

.svg {
  color: #50b5e5;
}

.highLowContainer {
  display: flex;
  gap: 10px;
}

.doneButton {
  font-weight: 300;
  color: #50b5e5;
}

.emptyIcon {
  width: 24px;
  height: 24px;
}
